@import 'fonts';

$purple: rgb(61,67,103);
html, body {
    background-color: $purple;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

@mixin logo-font {
    font-family: 'Myriad Set Pro';
    font-weight: bold;
    font-style: italic;
}

@mixin flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#app {
    @include flex-center();
    .welcome {
        @include flex-center();
        * {
            margin: 25px;
        }
        h1 {
            @include logo-font();
            font-size: 72px;
            text-align: center;
        }
        h2 {
            font-weight: normal;
            font-size: 34px;
        }
        span {
            font-size: 20px;

        }
    }
}
