@import 'fonts';

$purple: rgb(61,67,103);
html, body {
    background-color: $purple;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

@mixin logo-font {
    font-family: 'Myriad Set Pro';
    font-weight: bold;
    font-style: italic;
}

@mixin flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-svg-background {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1; 
svg {
    transform: scale(1.5);
    position: absolute;
    bottom: 0px;
    bottom: 15%;
    right: 250px;
}
}
@media (max-width: 1000px) {
    svg {
        bottom: 10%;
    }
 }

 @media (max-width: 1000px) {
    svg {
       display: none;
    }
 }



    #wave-one {
        -webkit-animation: wave-one 10s linear infinite;
                animation: wave-one 10s linear infinite; }
      
      #wave-two {
        -webkit-animation: wave-two 15s linear infinite;
                animation: wave-two 15s linear infinite; }
      
      @-webkit-keyframes wave-one {
        from {
          -webkit-transform: rotate(0deg) translateX(5px) rotate(0deg);
                  transform: rotate(0deg) translateX(5px) rotate(0deg); }
        to {
          -webkit-transform: rotate(360deg) translateX(5px) rotate(-360deg);
                  transform: rotate(360deg) translateX(5px) rotate(-360deg); } }
      
      @keyframes wave-one {
        from {
          -webkit-transform: rotate(0deg) translateX(5px) rotate(0deg);
                  transform: rotate(0deg) translateX(5px) rotate(0deg); }
        to {
          -webkit-transform: rotate(360deg) translateX(5px) rotate(-360deg);
                  transform: rotate(360deg) translateX(5px) rotate(-360deg); } }
      @-webkit-keyframes wave-two {
        from {
          -webkit-transform: rotate(0deg) translateX(8px) rotate(0deg);
                  transform: rotate(0deg) translateX(8px) rotate(0deg); }
        to {
          -webkit-transform: rotate(360deg) translateX(8px) rotate(-360deg);
                  transform: rotate(360deg) translateX(8px) rotate(-360deg); } }
      @keyframes wave-two {
        from {
          -webkit-transform: rotate(0deg) translateX(8px) rotate(0deg);
                  transform: rotate(0deg) translateX(8px) rotate(0deg); }
        to {
          -webkit-transform: rotate(360deg) translateX(8px) rotate(-360deg);
                  transform: rotate(360deg) translateX(8px) rotate(-360deg); } }
div#app {
    @include flex-center();
    .welcome {
        @include flex-center();
        * {
            margin: 25px;
        }
        h1 {
            @include logo-font();
            font-size: 72px;
            text-align: center;
        }
        h2 {
            font-weight: normal;
            font-size: 34px;
        }
        span {
            font-size: 20px;

        }
    }
}
